/*
 * Copyright 2013-2020 smartics, Kronseder & Reiner GmbH
 *
 * Commercial License.
 */
/*
 * Styles for projectdoc Aside Panels
 */

.projectdoc-aside-panel.projectdoc-retrospective-well {
	border-color: #91c89c;
}
.projectdoc-aside-panel.projectdoc-retrospective-well .projectdoc-aside-panel-content {
	background-color: #f3f9f4;
}

.projectdoc-aside-panel.projectdoc-retrospective-improve {
	border-color: #d04437;
}
.projectdoc-aside-panel.projectdoc-retrospective-improve .projectdoc-aside-panel-content {
	background-color: #fff8f7;
}

.projectdoc-aside-panel.projectdoc-panel-agile-planning {
	border-color: #4AA02C;
}
.projectdoc-aside-panel.projectdoc-panel-agile-planning .projectdoc-aside-panel-header {
	background-color: #4AA02C;
	border-bottom-color: #4AA02C;
	border-bottom-width: 1px;
	color: white;
	border-width: 0px;
}
.projectdoc-aside-panel.projectdoc-panel-agile-planning .projectdoc-aside-panel-content {
	border-width: 0px;
  background-color: #C3FDB8;
}
